@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-slide-up {
    animation: slideUp 1s ease-in-out forwards;
  }

  @keyframes slideUp {
    0% {
      transform: translateY(0%);
      opacity: 1;
    }
    100% {
      transform: translateY(-100%);
      opacity: 0.6;
    }
  }
}
